@use "../../styles/variables" as *;



.productGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

}



.productCard {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    picture {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


        img {

            width: 100%;
            height: 100%;
            border-radius: 5px;

            object-fit: cover;

        }
    }

    figcaption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 30px;
        height: 100%;

        .cardText {
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            h4 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                height: 153px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-wrap;
            }

        }

        .bottomContainer {
            display: flex;
            justify-content: space-between;

            .button {
                padding: 10px 20px;
                text-decoration: none;
                background-color: $yellow;
                color: white;
                font-size: 16px;
                font-weight: 700;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.1s;

                &:hover {
                    background-color: $dark-grey;
                }

            }

            .likes {
                display: flex;
                gap: 10px;
                align-items: center;

                svg {
                    color: $yellow;
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                    font-weight: 700;
                }
            }

        }

    }







}

.productDetail {
    display: flex;
    gap: 20rem;

    .content {
        width: 60%;

        img {
            float: left;
            width: 450px;
            height: 450px;
            object-fit: cover;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        p {
            white-space: pre-wrap;
        }
    }
}


.comments {


    h3 {
        font-size: 36px;
        font-weight: 700;
    }

    .commentContainer {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        height: 200px;
        border-bottom: 1px solid #b1b1b1;

        .userImage {
            width: 190px;
            height: 190px;
            border-radius: 50%;
            background-color: $light-grey;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .comment {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            margin-left: 50px;

            .userName {
                font-size: 24px;
                font-weight: 700;
            }


        }

        .commentForm {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                padding: 10px;
                background-color: $light-grey;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 300;
            }

            textarea {
                padding: 10px;
                background-color: $light-grey;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 300;
            }

            button {
                padding: 10px 20px;
                background-color: $yellow;
                color: white;
                font-size: 16px;
                font-weight: 700;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.1s;

                &:hover {
                    background-color: $dark-grey;
                }
            }
        }
    }
}